*.d
*.o
*.elf
*.bin
*.exe
*.dll
*.lib
*.pdb
*.exp
./funcs.h
patches.map
build/
.vscode/settings.json
runtime/assets
runtime/mod_config
runtime/mods
runtime/*.json
runtime/*.json.bak
runtime/mm.n64.us.1.0.z64